body
{
    background-color: rgb(59, 59, 59);
    color: white;
}

@font-face 
{
    font-family: Amaranth;
    src: url(../fonts/amaranth/Amaranth-Regular.ttf);
}
@font-face 
{
    font-family: Concert One;
    src: url(../fonts/concert_one/ConcertOne-Regular.ttf);
}


header
{
    text-align: center;
    min-width: 10px;
}


#hidden
{
    visibility: hidden;
}

.hidden
{
    visibility: hidden;
}


h1, h2, h3, h5
{
    color: rgb(255, 230, 0);
    text-align: center;
}

h3
{
    font-family: 'Amaranth', sans-serif;
}

h5
{
    font-family: 'Concert One', cursive;
}

h4
{
    color: red;
}

#fontIcons
{
    display: flex;
    justify-content: space-around;
    flex-wrap : wrap
}

#xp
{
    margin-top: 10px;

}

#coll
{
   margin-top:10px; 
}

#left
{
    background-color: rgb(16, 106, 240);
    border: 1px solid black;
    margin-bottom: 10px;
}

#project
{
    margin-top:10px;
}

#tabs-swipe-demo
{
    display: flex;
    justify-content: space-around;
}


.imgproject
{
    width: 95%;
    padding-left: 4%;
}

iframe
{
    width: 100%;
}

.material-tooltip{
    background-color: blue;
  }

/****
    TABS PERSONALIZE
***/

.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color: blue;
    color:#000;
} /*Text color on hover*/
.tabs .indicator {
    background-color:blue;
} /*Color of underline*/
