body
{
    background-color: rgb(59, 59, 59);
    color: white;
}


header
{
    text-align: center;
    min-width: 10px;
    margin-top:5px;
}

aside
{
    text-align: center;
}

aside>img
{
    width: 150px;
    border: 3px groove rgb(1, 189, 126);
    margin: auto;
}

#wrapper {
    height: 64px;
}

#hidden
{
    visibility: hidden;
}

.hidden
{
    visibility: hidden;
}

nav
{
    background-color: blue;
}

h1, h2, h3, h5
{
    color: rgb(255, 230, 0);
    text-align: center;
}

h4
{
    color: red;
}

#fontIcons
{
    display: flex;
    justify-content: space-around;
}



#xp
{
    margin-top: 10px;

}

#coll
{
   margin-top:10px; 
}

#left
{
    background-color: rgb(16, 106, 240);
    border: 1px solid black;
    padding-left: 5px;
    margin-bottom: 10px;
}

#project
{
    margin-top:10px;
}

#tabs-swipe-demo
{
    display: flex;
    justify-content: space-around;
}


.imgproject
{
    width: 95%;
    padding-left: 4%;
}

iframe
{
    width: 100%;
}

.material-tooltip{
    background-color: blue;
  }

/****
    TABS PERSONALIZE
***/

.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color: blue;
    color:#000;
} /*Text color on hover*/
.tabs .indicator {
    background-color:blue;
} /*Color of underline*/
