body
{
    background-color: rgb(59, 59, 59);
    color: white;
}


header
{
    text-align: center;
    min-width: 10px;
    margin-top:5px;
}

aside
{
    text-align: center;
}

aside>img
{
    width: 35%;
    border: 3px groove rgb(1, 189, 126);
    margin: auto;
}

#hidden
{
    visibility: hidden;
}

h1, h2, h3, h5
{
    color: rgb(255, 230, 0);
    text-align: center;
}

h4
{
    color: red;
}


#xp
{
    margin-top: 90px;
    width: 50%;
    min-width: 100px;

}

#coll
{
   margin-top:10px; 
}

#left
{
    background-color: rgb(16, 106, 240);
    border: 1px solid black;
    padding: 5px;
    max-width: 350px;
    min-width: 200px;
    margin: 10px;
    margin-right: 50px;
}

